# Config fragment for device features which aren't enabled in the upstream
# defconfig. Use of =y heavily discouraged.

# OnePlus 6/6T
CONFIG_DRM_PANEL_SAMSUNG_SOFEF00=m
CONFIG_RMI4_CORE=m
CONFIG_RMI4_I2C=m
CONFIG_RMI4_F03_SERIO=m
CONFIG_RMI4_2D_SENSOR=y
CONFIG_RMI4_F11=y
CONFIG_RMI4_F12=y
CONFIG_RMI4_F30=y
# SHIFT6mq
CONFIG_DRM_PANEL_VISIONOX_RM69299=m
