# Ref: https://gitlab.com/postmarketOS/pmaports/-/merge_requests/3979
# Ref: https://gitlab.com/postmarketOS/pmaports/-/issues/2034
#
# Note: The MR set these to `m`, but our current defconfig sets
# the base `CONFIG_FSCACHE` and `CONFIG_NFS_FS` to `y`
# so these need to be `y` too.

CONFIG_CACHEFILES=y
CONFIG_NFS_FSCACHE=y
