# Upstream defines this as y but users want to be able to unload and reload it.
#
# Ref: https://gitlab.com/postmarketOS/pmaports/-/issues/1444
# Ref: https://gitlab.com/postmarketOS/pmaports/-/commit/a5b16897c114082ff81dd312157345cb1db8d356#note_932241971

CONFIG_KEYBOARD_PINEPHONE=m
